<div class="flex items-center justify-center h-full px-2 mx-auto text-center lg:w-2/3">
  <div class="">
    <h1 class="max-w-5xl text-5xl font-bold text-gray-900 md:text-6xl xl:text-7xl">
      Beatiful Websites for your Podcast
    </h1>
    <p class="mt-8 text-gray-700">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio incidunt nam itaque sed eius modi error totam sit illum. Voluptas doloribus asperiores quaerat aperiam. Quidem harum omnis beatae ipsum soluta!
    </p>
    <div class="flex flex-wrap justify-center mt-16 gap-y-4 gap-x-6">
      <a href="#" class="relative flex items-center justify-center w-full px-6 h-11 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max">
        <span class="relative text-base font-semibold text-gray-900">Get started</span>
      </a>
      <a href="#" class="relative flex items-center justify-center w-full px-6 h-11 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 before:border-gray-700 before:bg-teal-800 sm:w-max">
        <span class="relative text-base font-semibold text-white text-primary">Learn more</span>
      </a>
    </div>
    
  </div>
</div>